.list {
    position: relative;
    width: 100%;
    height: 100%;
}

.item-wrapper {
    position: absolute;
    will-change: transform, width, height, opacity;
    padding: 10px;
    /* Increased padding for spacing */
    cursor: pointer;
    top: 0;
    left: 0;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
    /* Background and border logic handled in component for complex shape */
}